@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  padding: 0;
  margin: 0;
}

.nav-class {
  background-color: rgb(226, 22, 22);
  height: 55px;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}
.nav-class > h3 {
  color: #f6f6f6;
  font-size: 0.9em;
  font-weight: 500;
  font-family: Inner;
}

.glob-img {
  margin-right: 5px;
}
.entry-section {
  display: flex;
  padding: 10px;
}
.description {
  padding-left: 15px;
  width: 30%;
}
.date {
  color: teal;
}

.city-img {
  border: 2px solid black;
  border-radius: 10px;
  width: 300px;
}
.city-title {
  font-size: 1em;
  font-weight: 600;
  color: rgb(43, 228, 228);
}
